* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "arial";
}

.main {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

.icon {
    float: left;
    margin: 5px;
}

.icon img {
    width: 90px;
    height: 90px;
    padding: 5px 5px;
}

.login-register-btn {
    width: 150px;
    height: 33px;
    float: right;
    font-weight: bold;
}

.topbar-right {
    float: right;
    margin: 20px;
    font-weight: bold;
}

.topbar-right a {
    margin-right: 15px;
    text-decoration: none;
    color: gray;
}

.topbar-right a:hover {
    background: rgb(179, 178, 178);
}

.topbar {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 5px;
}

.topbar-right ul {
    list-style: none;
    margin: 0;
}

.topbar-right ul li {
    display: inline-block;
    font-weight: bold;
}

.topbar-right ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border-radius: 3px;
    transition: 0.3s ease all;
    color: grey;
}

.header {
    background-color: white;
}

.nav {
    width: 100%;
    display: inline-block;
    background-color: gray;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border-radius: 3px;
    transition: 0.3s ease all;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 15px;
}

.nav a:hover {
    background-color: rgb(179, 178, 178);
}

.nav input[type=text] {
    width: 300px;
    float: right;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}

.cards {
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.card-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}

.card-content>p:first-of-type {
    margin-top: 0;
}

.card-content>p:last-of-type {
    margin-bottom: 0;
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
}

.card-info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card-buy {
    color: gray;
    text-decoration: none;
}

.card-buy:hover {
    text-decoration: underline;
}

.slider {
    overflow: hidden;
    margin-top: 10px;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: 20%;
    height: 350px;
    float: left;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to right, black, blue);
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.testimonials-container {
    background-color: #eeeeee;
    color: gray;
    margin: 20px auto;
    max-width: 100%;
    padding: 50px 80px;
    position: relative;
}

.testimonials-container i {
    color: gray;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
}

.centered-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.logo {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user-details {
    margin-left: 10px;
}

.username {
    margin: 0;
}

.role {
    font-weight: normal;
    margin: 2px 0;
}

.progress-bar {
    background-color: gray;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

.footer {
    width: 100%;
    background-color: rgb(80, 79, 79);
    display: block;
    margin-top: 20px;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}

.footer-items h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p {
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

.footer-items h2 {
    margin: 10px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.border {
    height: 2px;
    width: 250px;
    background-color: white;
}

.footer-items ul {
    list-style: none;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer-items ul a {
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}

.footer-items ul a:hover {
    color: gray;
}

.footer-items ul li {
    margin: 10px 0;
    height: 25px;
}

.footer-items li i {
    margin: auto;
}

.social-media {
    width: 100%;
    color: white;
    text-align: center;
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.footer-bottom {
    padding: 10px;
    background: #404041;
    color: white;
    font-size: 12px;
    text-align: center;
}
